.formControl textarea,
.formControl input {
    border: 2px solid blue;
}


.formControl.error input,
.formControl.error textarea{
    border: 2px solid red;
}

.inputControl {

}

.formControl.error span {
    color: red;
}