.nav {
    grid-area: n;
    background-color: darkblue;
    padding: 10%;
    min-width: 160px;
}

.item {
    color: white;
}
.activLink {
    display: block;
    color: white;
    text-decoration: none;
    /*padding: 15px;*/
}
.item a.activLink {
    color: yellowgreen;
}