.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.active {

}

.itemDialogs {
    padding: 15px;
}

.itemDialogs .active {
    color: brown;
    text-decoration: none;
}

.messages {
    padding: 15px;
}

